div .myBrand {
    background-color: rgba(50, 50, 50, 0.85);
    padding: 0px 5px 5px 5px;
    border-radius: 0px 30px 30px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.myBrand {
    color: white;
}
h2 {
    color: rgba(0, 50, 115, 1);
    text-shadow: 2px 2px 6px darkgrey;
}
.emphasis {
    font-weight: bold;
}
.myIcon-list {
    color: black;
}
.col-md-3 {
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    margin: 0.5px;
}
.app {
    font-size: 4em;
    font-weight: bold;
    margin-right: 30%;
    margin-left: 0%;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white/*rgba(185, 185, 185, 1)*/;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    background-color: rgba(0, 50, 115, 1);
    text-shadow: 2px 2px 6px black;
}
.myBrand .blurb {
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 20%;
    color: white/*rgba(210, 210, 210, 1)*/;
    background-color: rgba(0, 50, 115, 1);
    border-radius: 15px 15px 15px 15px;
    text-align: center;
}
.myButton1 {
    margin-top: 35px;
    background-color: rgba(0, 50, 115, 1);
    color: black;
}
.btn-primary {
    background-color: rgba(0, 50, 115, 1);
    margin-left: 50%;
    margin-right: 0%;
}
div .jumbotron {
    margin-left: 0px;
    padding-left: 0px;
    border-radius: 0px 30px 30px 0px;
}
.container .myBrand {
    margin-left: 0px;
    padding-left: 0px;
}
div .inner {
    margin-left: 0px;
    padding-left: 0px;
}
